{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}

<h2>{% trans from 'FOSMessageBundle' %}Message{% endtrans %}</h2>
<br/>
<!------ Include the above in your HEAD tag ---------->

<div class="row">
 <div class="mail-box">
                  <aside class="sm-side">
                      
                      <div class="inbox-body">
                          <a href="{{ url('fos_message_thread_new' )}}"  class="btn btn-compose">
                              {% trans from 'FOSMessageBundle' %}send_new{% endtrans %}
                          </a>                          
                      </div>
                      <ul class="inbox-nav inbox-divider">
                          <li class="active">
                              <a href="{{path('fos_message_inbox')}}"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right">{{fos_message_nb_unread(threads)}}</span></a>

                          </li>
                          <li>
                              <a href="{{path('fos_message_sent')}}"><i class="fa fa-envelope-o"></i> Envoyés</a>
                          </li>
                         
                          <li>
                              <a href="{{path('fos_message_deleted')}}"><i class=" fa fa-trash-o"></i> Corbeille</a>
                          </li>
                      </ul>
                    
                  </aside>
                  <aside class="lg-side">
                      <div class="inbox-head">
                          <h3>Inbox</h3>
                         
                      </div>
                      <div class="inbox-body">
                         <div>
                              <div class="box box-primary">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Nouveau Message</h3>
                                </div>
                                <div class="box-body no-padding">
                                    
<form action="{{ url('fos_message_thread_new') }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" class="sign" />
</form>
                                        
                                </div>
                                <br/>
                                <br/>
                                  
                                          
                             </div>
                          </div>
                            
                      </div>
                  </aside>
              </div>
</div>
{% endblock %}
