<table class="table table-inbox table-hover">
    <tbody>
    {% if threads %}
        
            {% for thread in threads %}
                    {% if not fos_message_is_read(thread) %}
                        <tr class="unread">
                    {% else %}
                        <tr class="">
                    {% endif %}
              
                  <td class="inbox-small-cells">
                      {% if fos_message_can_delete_thread(thread) %}
                        {% if fos_message_deleted_by_participant(thread) %}
                            {% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}undelete{% endtrans %}{% endset %}
                        {% else %}
                            {% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}delete{% endtrans %}{% endset %}
                        {% endif %}
                        <form action="{{ formAction }}" method="post">
                                <button class="btn-simple text-danger" type="submit" value="{{ submitValue }}" ><i class="fa fa-trash"></i></button>
                        </form>
                      <a class=" text-success" href="{{ path('fos_message_thread_view', {'threadId': thread.id}) }}">  <i class="fa fa-eye"></i></a>
                    {% endif %}
                  </td>
                  <td class="view-message  dont-show">{{thread.lastMessage.sender|e }}</td>
                  <td class="view-message  dont-show">{{thread.subject }}</td>
                  <td class="view-message ">
                      <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" title="{% trans from 'FOSMessageBundle' %}goto_last{% endtrans %}">
                            →
                        </a></td>
                  <td class="view-message  text-right">{{ thread.createdAt|date('d-m-Y H:m') }}</td>
              </tr>
              
            {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">
                {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
            </td>
        </tr>
    {% endif %}

    </tbody>

</table>
