{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}

<h2>{% trans from 'FOSMessageBundle' %}Message{% endtrans %}</h2>
<br/>
<!------ Include the above in your HEAD tag ---------->

<div class="row">
 <div class="mail-box">
                  <aside class="sm-side">
                      
                      <div class="inbox-body">
                          <a href="{{ url('fos_message_thread_new' )}}"  class="btn btn-compose">
                              {% trans from 'FOSMessageBundle' %}send_new{% endtrans %}
                          </a>                          
                      </div>
                      <ul class="inbox-nav inbox-divider">
                          <li class="active">
                              <a href="{{path('fos_message_inbox')}}"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right">{{fos_message_nb_unread(threads)}}</span></a>

                          </li>
                          <li>
                              <a href="{{path('fos_message_sent')}}"><i class="fa fa-envelope-o"></i> Envoyés</a>
                          </li>
                         
                          <li>
                              <a href="{{path('fos_message_deleted')}}"><i class=" fa fa-trash-o"></i> Corbeille</a>
                          </li>
                      </ul>
                    
                  </aside>
                  <aside class="lg-side">
                      <div class="inbox-head">
                          <h3>Inbox</h3>
                         
                      </div>
                      <div class="inbox-body">
                         <div>
                              <div class="box box-primary">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Lire Message</h3>
                                </div>
                                <div class="box-body no-padding">
                                    {% for message in thread.messages %}
                                  <div class="mailbox-read-info">
                                    <h3>{{ thread.subject }}</h3>
                                      <br/>
                                    <h5>From: {{message.sender|e}} <span class="mailbox-read-time text-default pull-right">{{message.createdAt|date('d-M-Y h:m')}}</span></h5>
                                  </div>
                                  
                                  <div class="mailbox-read-message">
                                      <br/>
                                      <br/>
                                    <p>{{ message.body }}</p>
                                  </div>
                                <div class="mailbox-controls with-border text-left">
                                    <br/>
                                    <div class="btn-group ">
                                      {% if fos_message_can_delete_thread(thread) %}
                                        {% if fos_message_deleted_by_participant(thread) %}
                                            {% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
                                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}undelete{% endtrans %}{% endset %}
                                        {% else %}
                                            {% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
                                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}delete{% endtrans %}{% endset %}
                                        {% endif %}
                                        <form action="{{ formAction }}" method="post">
                                                <button class="btn-simple text-danger" type="submit" value="{{ submitValue }}" ><i class="fa fa-trash"></i></button>
                                        </form>
                                    {% endif %}
                                    </div>
                                  </div>
                                    {% endfor %}
                                </div>
                                <br/>
                                <br/>
                                  
                                          
                             </div>
                          </div>
                            <div class="">
                                <h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

                                <form style="width: 100%;" action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
                                    {{ form_widget(form) }}

                                    <input type="submit" class="sign" value="Envoyer" />
                                </form>    
                            </div>
                      </div>
                  </aside>
              </div>
</div>

{% endblock %}
